body{
  background-image: url("images/background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
}

.header {
  overflow: hidden;
  background-color:#292F33;
  padding: 10px 5px;
  border-bottom: 5px;
  border-bottom-style: solid;
  position: static;
}

.header a {
  float: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black;
  background-color: #EFF4FF;
  margin-left: 10px;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  border-color:whitesmoke;
  border-radius: 10px;
  border-style: outset;
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}


.unit1{
  text-align: right;
  margin-right: 10px;
}

.text {
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: center;
    display: block;
    text-align: center;
  }

  .header-right {
    float: center;
    margin-top: 5px;
    margin-right: 32%;
    padding: 0%;
  }
}